<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
   
    <link rel="stylesheet" type="text/css" href="../../static/css/perfil.css">

</head>
<body>
    
      <div class="container2">
        <div class="encabezado">
         <h2 style="color:white;">LISTA DE DENUNCIAS </h2>   
        </div>
       
       <table  class="center-table">
        <thead>
          <tr>
            <th style="font-weight: lighter; color:white;">Codigo</th>
            <th style="font-weight: lighter; color:white;">Victima</th>
            <th style="font-weight: lighter; color:white;">Lugar</th>
            <th style="font-weight: lighter; color:white;">Victimario</th>
            <th style="font-weight: lighter; color:white;">Detalles</th>
            <th style="font-weight: lighter; color:white;">Atender</th>
          </tr>
        </thead>
        <tbody>
          {% for denuncia in denuncias %}
          <tr>
              <td>{{denuncia.0}}</td>
              <td>{{denuncia.1}}</td>
              <td>{{denuncia.2}}</td>
              <td>{{denuncia.3}}</td>
              <td>
              <form action="/verDen" method="POST">
                <input type="hidden" name="id_denuncia" value="{{denuncia.0}}">
              <button id="btn-abrir-denuncia">Ver detalles</button>
            </form>

            <td>
              <form action="/deletePsi" method="POST">
                <input type="hidden" name="id_denuncia_del" value="{{denuncia.0}}">
              <button id="btn-abrir-denuncia">Denuncia atendida</button>
            </form>
            </td>
          </td>

          </tr>
          {% endfor %}
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
      <a class="btn btn-secondary" href="{{ url_for('backHome') }}">Retroceder</a>
    </div>
      
</body>
</html>