<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de denuncia</title>
   
    <link rel="stylesheet" type="text/css" href="../../static/css/perfil.css">

</head>
<body>
     <h1 class="welcome-header">Detalles de la denuncia</h1>
    <div class="container">
        <div class="left-half">
            {% set id = detalles.dequeue() %}
            {% set victima = detalles.dequeue() %}
            {% set numVictimarios = detalles.dequeue() %}
            {% set lugar = detalles.dequeue() %}
            {% set tipo = detalles.dequeue() %}
            {% set frecuencia = detalles.dequeue() %}
            {% set victimario = detalles.dequeue() %}
            {% set descripcion = detalles.dequeue() %}

            <p><strong>id: </strong> {{id}}</p>
            <p><strong>Nombre de la victima: </strong> {{victima}}</p>
            <p><strong>Número de victimarios: </strong> {{numVictimarios}}</p>
            <p><strong>Lugar: </strong> {{lugar}}</p>
            <p><strong>Tipo de acoso: </strong> {{tipo}}</p>
            <p><strong>Frecuencia: </strong> {{frecuencia}}</p>
            <p><strong>Victimario: </strong> {{victimario}}</p>
            <p><strong>Descripción: </strong> {{descripcion}}</p>
        </div>
        
      </div>
      <script src="../../static/js/eventos.js?v=1"></script>
</body>
</html>