<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de denuncia</title>
   
    <link rel="stylesheet" type="text/css" href="../../static/css/perfil.css">

</head>
<body>
    <div class="container">
        <div class="left-half">
            <p><strong>id: </strong> {{detalles.0}}</p>
            <p><strong>Nombre de la victima: </strong> {{detalles.1}}</p>
            <p><strong>Número de victimarios: </strong> {{detalles.2}}</p>
            <p><strong>Lugar: </strong> {{detalles.3}}</p>
            <p><strong>Tipo de acoso: </strong> {{detalles.4}}</p>
            <p><strong>Frecuencia: </strong> {{detalles.5}}</p>
            <p><strong>Victimario: </strong> {{detalles.6}}</p>
            <p><strong>Descripción: </strong> {{detalles.7}}</p>
        </div>
        
      </div>
      <script src="../../static/js/eventos.js?v=1"></script>
</body>
</html>