<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
   
    <link rel="stylesheet" type="text/css" href="../../static/css/perfil.css">

</head>
<body>
    <div class="container">
        <div class="left-half">
        <h2>Nombre: {{nombreCompleto.0}} </h2>
        <ul>
          <h3><li>Cédula: {{ info.0 }}</li></h3>
          <h3><li>Teléfono: {{ info.1 }}</li></h3>
          <h3><li>Género: {{ info.2 }}</li></h3>
          <h3><li>Edad: {{ info.3 }}</li></h3>
        </ul>
          <!-- Contenido de la mitad izquierda -->
        </div>
        <div class="right-half">
            <img src="../../static/img/silueta.png" alt="Descripción de la imagen" style="width: 200px; height: 250px;">
          <!-- Contenido de la mitad derecha -->
        </div>
      </div>
      <div class="container2">
        <div class="encabezado">
         <h2 style="color:white;">LISTA DE DENUNCIAS </h2>   
        </div>
       
       <table  class="center-table">
        <thead>
          <tr>
            <th style="font-weight: lighter; color:white;">Codigo</th>
            <th style="font-weight: lighter; color:white;">Lugar</th>
            <th style="font-weight: lighter; color:white;">Victimario</th>
            <th style="font-weight: lighter; color:white;">Detalles</th>
            <th style="font-weight: lighter; color:white;">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for denuncia in denuncias %}
          <tr>
              <td>{{denuncia.0}}</td>
              <td>{{denuncia.1}}</td>
              <td>{{denuncia.2}}</td>
              <td>
                <form action="/verDen" method="POST">
                  <input type="hidden" name="id_denuncia" value="{{denuncia.0}}">
                <button id="btn-abrir-denuncia">Ver detalles</button>
              </form>
              </td>

              <td>
                <form action="/delete" method="POST">
                  <input type="hidden" name="id_denuncia_del" value="{{denuncia.0}}">
                <button id="btn-abrir-denuncia">Eliminar denuncia</button>
              </form>
              </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
      <a class="btn btn-secondary" href="{{ url_for('backHome') }}">Retroceder</a>
      </div>
      
      <script src="../../static/js/eventos.js?v=1"></script>
</body>
</html>