.container {
    
    display: flex;
    height: 50vh; /* Establece la altura del contenedor para ocupar toda la pantalla */
    /*background-color: #9cf3eff6;*/
  }
.container2{
   /*  background-color: #47f1a2f6;*/
   /*background-color: #9cf3eff6;*/
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
  
.center-table {
    margin-left: auto;
    margin-right: auto; 
    
  }
/*-----------------------------------------------*/

table.center-table {
    border-collapse: collapse;
    border-radius: 10px;
    /*background-color: #b6f8f5fa;*/
    width: 70%;
  }
  
  table.center-table th,
  table.center-table td {
    border: 1px solid rgb(196, 216, 214);
    /*border: 1px solid rgb(196, 216, 214);*/
    padding: 8px;
    text-align: center;
  }
  
  table.center-table th {
    background-color: #0f74f8fa;
  
  }
  
  table.center-table button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  table.center-table button:hover {
    text-decoration: underline;
  }
  
/*-----------------------------------------------*/


  .left-half {
    font-family: Calibri, Arial;
    flex: 1;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 80px;
    /*#0f74f8fa*/
    /*rgb(216, 192, 192);*/
    border: 1px solid #0f74f8fa;
    border-radius: 10px;
    padding: 15px;
   /* Márgen izquierdo de 40px */
    /*background-color: #47f1a2f6;/*background-color: #48f548f6; /* Color de fondo de la mitad izquierda */
  }
  
  .right-half {
    flex: 0.5;
    margin-top: 60px;
    margin-right: 150px;
    /*background-color: #47f1a2f6;/*background-color: #eaeaea; Color de fondo de la mitad derecha */
  }


.encabezado{
    background-color: #0f74f8fa;
    border-radius: 10px;
    margin-right: 145px;
    margin-left: 145px;
}

  body{
   /* background-color: #e2fcf0f6;¨*/
    font-family: Arial, sans-serif;
    /*margin-top: 50px;*/
    margin-left: 200px; /* Márgen izquierdo de 40px */
    margin-right: 200px; /* Márgen derecho de 50px */
    flex: 1;
    /*background-color: #47f1a2f6; /* Color de fondo de la mitad izquierda */
  }

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-secondary {
  margin-top: 15px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}
